<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>824762977179-p7g8ch9aa3vbc4u4am7giicm9hcq1ruu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824762977179-p7g8ch9aa3vbc4u4am7giicm9hcq1ruu</string>
	<key>API_KEY</key>
	<string>AIzaSyCW8NldgQjJxdx-LBpwSImWQIEyRkFS-1A</string>
	<key>GCM_SENDER_ID</key>
	<string>824762977179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>private.Uber-Clone</string>
	<key>PROJECT_ID</key>
	<string>uber-clone-63136</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-clone-63136.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824762977179:ios:9c08ddb91bd075b3</string>
	<key>DATABASE_URL</key>
	<string>https://uber-clone-63136.firebaseio.com</string>
</dict>
</plist>